{% extends "BookBundle::layout.html.twig" %}
{% block body %}
    {% if app.user != user %}
        <h1>Viewing the profile of {{ user.username }}</h1>
    {% elseif app.user == user %}
        <h1>Viewing your profile</h1>
    {% endif %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#book-pane">Books</a></li>
        <li><a data-toggle="tab" href="#review-pane">Reviews</a></li>
    </ul>

    <div class="tab-content">
        <div id="book-pane" class="tab-pane fade in active">
            {% if books|length > 0 %}
                {% for book in books %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p><a href="{{ path("rs_book_view", {id: book.id}) }}">{{ book.bookTitle }}</a></p>
                        </div>
                        <div class="panel-body">
                            <img src="{{ asset('uploads/images/') ~ book.bookCover }}" alt="{{ book.bookTitle }}" class="img-thumbnail" style="height:100px!important; width:auto!important;"/>
                            <br />
                            <h4>Written by <strong>{{ book.bookAuthor }}</strong></h4>
                            <h4>Published through <strong>{{ book.bookPublisher }}</strong></h4>
                            <h4>Average Rating: <strong>{{ book.getAverageRating()|number_format(1, '.', ',') }} / 5.0</strong></h4>
                        </div>
                    </div>
                {% endfor %}
            {% else  %}
                There are no books from {{ user.username }}.
            {% endif %}
        </div>
        <div id="review-pane" class="tab-pane fade">
            {% if reviews|length > 0 %}
                {% for review in reviews %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p><a href="{{ path("rs_book_view", {id: review.getBook().getId()}) }}">{{ review.reviewTitle }}</a></p>
                        </div>
                        <div class="panel-body">
                            <h4>Rating: <strong>{{ review.reviewRating|number_format(1, '.', ',') }} / 5.0</strong></h4>
                            <h4>Book Reviewed: <strong>{{ review.book.getBookTitle() }}</strong></h4>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{{ user.username }} has not written any reviews</p>
            {% endif %}
        </div>
    </div>
{% endblock %}