{% extends "ReviewStarBookBundle::layout.html.twig" %}

{% block title %}
    {{ book.bookTitle }}
{% endblock %}

{% block body %}
    <h1>Viewing {{ book.bookTitle }}</h1>
    <h4><strong>Average Rating: </strong>{{ book.getAverageRating()|number_format(1, '.', ',') }}/5.0</h4>
    <h4><strong>Uploaded By: </strong><a href="{{ path('rs_user_view', {'id': book.user.getId()}) }}">{{ book.user.username }}</a></h4>
    <h4><strong>Author:</strong> {{ book.bookAuthor }}</h4>
    <h4><strong>Publisher:</strong> {{ book.bookPublisher }}</h4>
    <h4><strong>Year Published:</strong> {{ book.bookPublishDate|date("Y") }}</h4>
    <h4><strong>Synopsis:</strong> {{ book.bookSynopsis }}</h4>
    <img src="{{ asset('uploads/images/') ~ book.bookCover }}" alt="{{ book.bookTitle }}" class="img-thumbnail" height="500"/>
    <br />
    <br />
    {% if book.user == app.user %}
        <a href="{{ path('rs_book_edit', { id: book.id }) }}">Edit this book</a>
        <br />
    {% endif  %}
    {% if book.user == app.user or is_granted(privileges_book) %}
        <a href="{{ path('rs_book_delete', { id: book.id }) }}">Delete</a>
    {% endif %}
    <br />
    <br />
    {% if book.getReviews()|length > 0 %}
        {% for review in book.getReviews() %}
            <div class="panel {{ review.getUser() == app.user ? 'panel-success' : 'panel-default'}}">
                <div class="panel-heading">
                    <p>{{ review.reviewTitle }}</p>
                </div>
                <div class="panel-body">
                    <p>{{ review.reviewContent }}</p>
                </div>
                <div class="panel-footer">
                    <p>{{ review.user }} rated this {{ review.reviewRating }} out of 5</p>
                    {% if review.user == app.user %}
                        <p><a href="{{ path("rs_review_edit", { 'bookId': book.id, 'id': review.id }) }}">Edit this review</a></p>
                    {% endif %}
                    {% if review.user == app.user or is_granted(privileges_review) %}
                        {% set break = false %}
                        {% for privilege in privileges_review if not break %}
                            {% if app.user.hasRole(privilege) or review.user == app.user %}
                                <a href="{{ path('rs_review_delete', { id: review.id }) }}">Delete</a>
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {%  endfor %}

        {% if currentUser %}
            {% set reviewArray = [] %}

            {% for review in currentUser.getReviews() %}
                {% if review.getBook().getId() == book.id and review.getUser().getId() == currentUser.getId() %}
                    {% set reviewArray = reviewArray|merge([review]) %}
                {% endif %}
            {% endfor %}

            {% if reviewArray|length == 0 %}
                <a href="{{ path("rs_review_create", {"bookId" : book.id }) }}">Write a new review</a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if is_granted("ROLE_USER") %}
            <p>Currently empty, be the first to <a href="{{ path("rs_review_create", {"bookId" : book.id }) }}">write a review</a></p>
        {% endif %}
    {% endif %}

    <br />
{% endblock %}